body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    background-color: rgba(30, 210, 189, 0.38);
    padding: 5rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 255, 208, 0.814);
    border: 5px solid rgb(128, 0, 68);
    border-radius: 20px;
    margin-top: 9.9rem;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

button {
    padding: 7px 10px;
    font-size: 20px;
    background-color: rgb(140, 42, 165);
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
}


/* Media queries for responsiveness */

/*  phones, less than 600px */
@media only screen and (max-width: 600px) {
    #main {
        padding: 2rem;
        margin-top: 5rem;
    }

    h1 {
        font-size: 25px;
    }

    button {
        font-size: 16px;
        margin-left: 10px;
        padding: 5px 8px;
    }
}

/*tablets, 600px to 768px */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #main {
        padding: 3rem;
        margin-top: 7rem;
    }

    h1 {
        font-size: 30px;
    }

    button {
        font-size: 18px;
        margin-left: 20px;
        padding: 6px 9px;
    }
}

/* desktops, larger than 768px */
@media only screen and (min-width: 768px) {
    #main {
        padding: 5rem;
        margin-top: 9.9rem;
    }

    h1 {
        font-size: 35px;
    }

    button {
        font-size: 20px;
        margin-left: 30px;
        padding: 7px 10px;
    }
}
